*.o
*.pyc
*.so
*.gff
*.group.txt
*.gff.unfuzzy
*.group.txt.unfuzzy
*.txt
*.fa

.pyre/*
build/*
.idea
.mypy_cache
cupcake.egg-info/*
cupcake.egg-info/
cupcake/tofu/branch/*
.vscode/settings.json
**/.DS_Store
**/*.swp
.vscode
dist/
build/
notebooks/chain_test_files/**
tests/test_data/chaining/**
