*.o
*.pyc
*.so
*.gff
*.group.txt
*.gff.unfuzzy
*.group.txt.unfuzzy
*.txt
*.fa


build/*
cupcake/tofu/branch/*
.vscode/settings.json
**/.DS_Store
.idea
cupcake.egg-info/*
cupcake.egg-info/
**/*.swp
.mypy_cache
.vscode
dist/
build/
notebooks/chain_test_files/chain1-2.config
notebooks/chain_test_files/.ipynb_checkpoints/chain1-2-checkpoint.config
notebooks/chain_test_files/bc1001/repaired.sample.rep_corrected.fastq
notebooks/chain_test_files/bc1002/repaired.sample.gff.split0
notebooks/chain_test_files/bc1002/repaired.sample.gff.split1
notebooks/chain_test_files/bc1002/repaired.sample.gff.split2
notebooks/chain_test_files/bc1002/repaired.sample.gff.split3
notebooks/chain_test_files/bc1002/repaired.sample.gff.split4
notebooks/chain_test_files/bc1002/repaired.sample.gff.split5
notebooks/chain_test_files/bc1002/repaired.sample.gff.split6
notebooks/chain_test_files/bc1002/repaired.sample.gff.split7
notebooks/chain_test_files/bc1002/repaired.sample.group.txt.split0
notebooks/chain_test_files/bc1002/repaired.sample.group.txt.split1
notebooks/chain_test_files/bc1002/repaired.sample.group.txt.split2
notebooks/chain_test_files/bc1002/repaired.sample.group.txt.split3
notebooks/chain_test_files/bc1002/repaired.sample.group.txt.split4
notebooks/chain_test_files/bc1002/repaired.sample.group.txt.split5
notebooks/chain_test_files/bc1002/repaired.sample.group.txt.split6
notebooks/chain_test_files/bc1002/repaired.sample.group.txt.split7
notebooks/chain_test_files/bc1002/repaired.sample.rep_corrected.fastq
