*.o
*.pyc
*.so
*.gff
*.group.txt
*.gff.unfuzzy
*.group.txt.unfuzzy
*.txt
*.fa


build/*
cupcake/tofu/branch/*
.vscode/settings.json
**/.DS_Store
.idea
cupcake.egg-info/*
cupcake.egg-info/
**/*.swp
.mypy_cache
.vscode
dist/
build/