[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
numpy = "*"
biopython = "*"
bx-python = "*"
scikit-learn = "*"
pysam = "*"
bcbio-gff = "*"
pandas = "*"
pyvcf = "*"
networkx = "*"
cython = "*"


[requires]
python_version = "3.8"
